<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SCAJPU" transaction-type="RESOURCE_LOCAL">
    <class>model.Cargo</class>
    <class>model.Cliente</class>
    <class>model.Comarca</class>
    <class>model.Documento</class>
    <class>model.FonteIndicacao</class>
    <class>model.FuncionarioAdvogado</class>
    <class>model.Instancia</class>
    <class>model.Natureza</class>
    <class>model.Processo</class>
    <class>model.Vara</class>
    <class>model.Pessoa</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
